.Forms_reg {
    text-align: center;
    margin-top: 200px;
    margin-left: 520px;
    width: 450px;
    height: 350px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
}

body {
    background-color: rgb(219, 219, 219);
}

