.card-three {
    display: flex;  
}
.card-three {
    margin: 0px;
}

.btn-mdb {
    font-size: 15px;
}

.card-1 , .card-2 , .card-3 {
    width: 440px;
    height: 240px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.card-1 , .card-2 , .card-3 {
    margin-left: 15px;
}

h1 {
    font-size: 45px;
}