body {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-top: 0;
    padding-bottom: 30px;
    text-align: left; /* Выровнено по левому краю для секций */
}

section {
    margin: 50px 0; /* Внешние отступы для секций */
    padding: 0 50px; /* Внутренние отступы для секций */
}

li {
    margin-bottom: 10px; /* Внешний отступ снизу для элементов списка */
}

main {
    width: 900px;
    margin: auto;
}
